/* layout setting */
html,body {
    font-family: '微軟正黑體', sans-serif !important;
}
.d-inline{ display: inline-block; }
.d-none{ display: none;}
.f-w-b{ font-weight: bold !important;}
.c-white{color: white !important;}
/* header setting */
.navbar-trans .navbar-logo {
  content: url(../images/logo-light.png);
}
.c-f-color{
  color: #fa2e18;
}
.text-center{
  text-align: center !important;
}
.f-s-16{
  font-size: 16px !important;
}
.f-s-25{
  font-size: 25px !important;
}
.m-t-20{
  margin-top: 20px !important;
}
.m-t-50{
  margin-top: 50px !important;
}
.m-b-50{
  margin-bottom: 50px !important;
}
.m-b-100{
  margin-bottom: 100px !important;
}
.p-b-50{
  padding-bottom: 50px !important;
}
.p-b-20{
  padding-bottom: 20px !important;
}
.p-b-5{
  padding-bottom: 5px !important;
}
body, .testimonials-3col .t-item blockquote, .testimonials-3col .t-item .wrapper-404 .content-wrapper .info-wrapper .info-404, .wrapper-404 .content-wrapper .info-wrapper .testimonials-3col .t-item .info-404, .testimonials-3col .t-item .bg-maintenance .content-wrapper .content-inner p, .bg-maintenance .content-wrapper .content-inner .testimonials-3col .t-item p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 1.8em;
  color: #554a4a;
}
.customer-logo{
  width: 60%;
}
.sec-heading .subheading {
  display: block;
  text-transform: uppercase;
  font-family: "微軟正黑體","Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  color: #554a4a;
  letter-spacing: 2.5px;
}

.navbar .navbar-nav li a {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  color: #999;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  padding-right: 60px;
}

.header-contact {
  background: url('../images/header-4.jpg');
  background-size: cover;
}

.header-about {
  background: url('../images/header-1.jpg');
  background-size: cover;
}

.header-service {
  background: url('../images/header-3.jpg');
  background-size: cover;
}

.header-knowledge {
  background: url('../images/header-2.jpg');
  background-size: cover;
}

.header-serviceInfo-1 {
  background: url('../images/header-5.jpg');
  background-size: cover;
}

.header-serviceInfo-2 {
  background: url('../images/header-6.jpg');
  background-size: cover;
}

.header-serviceInfo-3 {
  background: url('../images/header-7.jpg');
  background-size: cover;
}


.pt-plax-lg-light:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
}

.page-title .breadcrumb li a {
  color: white;
}

.page-title .breadcrumb .active {
  color: white;
}

.breadcrumb {
  bottom: 7px;
  margin-bottom: 0;
  background: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
}

/* footer setting */
.footer-litle address ul li .adr-group .adr-info {
  font-size: .9em;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #444;
}

@media (max-width: 600px){
  .footer-social-links ul li {
     width: 100%; 
     padding-right: 0;
  }
  .footer-social-links ul li:nth-child(2){
    padding-left: 0;
  }
}

/* index setting */
.ft-steps-numbers .ft-item .ft-nbr {
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 0;
  color: #783b3b1a;
  font-family: "微軟正黑體","Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 165px;
}

.customer-ul li{
  margin-bottom: 10px;
}

.fs-slider-hero .fs-slider .fs-slider-item {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .fs-slider-hero .fs-slider .fs-slider-item .bg-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  
  .fs-slider-hero .fs-slider .fs-slider-item .hero-content-wrapper {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  
  .fs-slider-hero .fs-slider .fs-slider-item .hero-content-wrapper .hero-content {
    display: table-cell;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
  }
  
  .fs-slide-1 {
    background: url('../images/index-slide1.jpg');
    background-size: cover;
  }
  
  .fs-slide-1 .bg-overlay {
    background: rgba(17, 17, 17, 0.7);
  }
  
  .fs-slide-1 .hero-content {
    text-align: center;
  }
  
  .fs-slide-1 .hero-content .hero-lead {
    font-family: "微軟正黑體","Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 6em;
    font-weight: 800;
    letter-spacing: 5px;
    color: #ececec;
  }
  
  .fs-slide-1 .hero-content .hero-subheading {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #999;
  }
  
  .fs-slide-2 {
    background: url('../images/index-slide2.jpg');
    background-size: cover;
  }
  
  .fs-slide-2 .bg-overlay {
    background: rgba(17, 17, 17, 0.7);
  }
  
  .fs-slide-2 .hero-content {
    padding-left: 10%;
    text-align: left;
  }
  
  .fs-slide-2 .hero-content .hero-lead {
    font-family: "微軟正黑體","Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 5.5em;
    font-weight: 700;
    letter-spacing: 5px;
    color: #ececec;
  }
  
  .fs-slide-2 .hero-content .hero-lead span {
    font-weight: 300;
  }
  
  .fs-slide-2 .hero-content .hero-subheading {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #999;
  }
  
  .fs-slide-3 {
    background: url('../images/index-slide3.jpg');
    background-size: cover;
  }
  
  .fs-slide-3 .bg-overlay {
    background: rgba(17, 17, 17, 0.7);
  }
  
  .fs-slide-3 .hero-content {
    text-align: center;
  }
  
  .fs-slide-3 .hero-content .hero-lead {
    margin-bottom: 35px;
    font-family: "微軟正黑體","Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 4em;
    font-weight: 800;
    letter-spacing: 15px;
    color: #ececec;
  }
  
  .fs-slide-3 .hero-content .hero-lead span {
    font-weight: 300;
  }
  
  .fs-slide-3 .hero-content .hero-subheading {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #999;
  }
  
  .h-alt {
    font-family: '微軟正黑體', sans-serif;
    font-weight: bold;
  }

  .ft-steps-numbers .ft-item ul {
    margin: 0;
    padding-left: 85px;
}

.ft-boxed-hover ul li {
  display: inline-block;
  position: relative;
  width: 33%;
  float: left;
  margin-top: -1px;
  margin-left: -1px;
  padding: 50px;
  border: 1px solid #ddd;
  background: #fff;
  text-align: center;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  height: 224px;
}

.ft-boxed-hover ul li:hover {
  border-color: #ddd;
}

.ft-cards-2 .ft-card-item .ft-content p {
  margin: 0;
  color: #554a4a;
  font-size: 10pt;
}

.ft-cards-2 .ft-card-item .ft-content .link-btn {
  display: inline-block;
  margin-top: 30px;
  float: right;
  color: #777;
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}
/* contact setting */
.map-wide {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

/* about setting */
.about-ul li{
  margin-bottom: 10px;
}

/* service */
.blog-post-single .post-title {
  margin: 0;
  padding-top: 0px;
}

/* service fixed issue in pc */
@media (min-width: 992px){
  .categories-widget.fixed{
    position: fixed;
    top: 10%;
    width: 21%;
    padding: 0 15px;
  }
}

/* RWD */
@media (max-width: 992px){
  .ft-boxed-hover ul li {
    width: 100%;
  }
  .navbar .navbar-header .navbar-brand{
    margin-left: 15px;
    position: absolute;
    padding: 20px 0 0 0;
  }
  .customer-logo{
    width: 150px;
  }
  .navbar-small .navbar-header .navbar-brand{
    padding: 16px 0 0 0;
  }
  .navbar-small .navbar-header .navbar-brand .customer-logo{
    width: 120px;
  }

}

@media (max-width: 1260px){
  .ft-cards-2 .ft-card-item {
    max-width: 100%;
  }
  .ft-cards-2 .ft-card-item img {
    max-width: 100%;
    height: auto;
  }
}

/* slider image */
.slider-ctr {
  margin: auto;
  width: 100%;
  height: 0;
  padding-top: 58%;
  position: relative;
  box-sizing: border-box;
  border: 10px solid white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 10px 15px 3px rgba(0, 0, 0, 0.15), 0 5px 20px 3px rgba(0, 0, 0, 0.1);
}
.slide img {
  display: block;
  width: 100%;
}
.slider-ctr:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.6) 100%);
  background: -webkit-linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.6) 100%);
  pointer-events: none;
  z-index: 9;
}

.slider-control {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 80px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.15);
  z-index: 99;
}
.slider-control .control {
  width: 50%;
  height: 40px;
  display: block;
  float: left;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: .3s all ease;
  background: white;
}
.slider-control .control .icon {
  pointer-events: none;
  transition: .3s all ease;
}
.slider-control .control.disabled {
  pointer-events: none;
  background: #ddd;
}
.slider-control .control.disabled .icon {
  opacity: .5;
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.45s all cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.slide:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.125);
}
.slide.slide-on {
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
}
.slide.text-on .title {
  transition: 0.3s all cubic-bezier(0.65, 0.05, 0.36, 1) 0.45s;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.slide.text-on .author {
  transition: 0.3s all cubic-bezier(0.65, 0.05, 0.36, 1) 0.6s;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.slide img {
  display: block;
}
.slide figcaption {
  position: absolute;
  top: 30px;
  left: 30px;
}
.slide .title {
  font-size: 50px;
  margin-bottom: 2px;
  color: white;
  transition: 0.3s all cubic-bezier(0.65, 0.05, 0.36, 1) 0.45s;
  -webkit-clip-path: inset(0 0 0 100%);
  clip-path: inset(0 0 0 100%);
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  position: relative;
}
.slide .author {
  font-size: 16px;
  color: white;
  opacity: .8;
  transition: 0.3s all cubic-bezier(0.65, 0.05, 0.36, 1) 0.45s;
  -webkit-clip-path: inset(0 0 0 100%);
  clip-path: inset(0 0 0 100%);
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  z-index: 9;
  
}