/* layout setting */
html,body {
    font-family: '微軟正黑體', sans-serif !important;
}
.d-inline{ display: inline-block; }
.d-none{ display: none;}
.f-w-b{ font-weight: bold;}

/* header setting */
.header-contact {
  background: url('../images/header-1.jpg');
  background-size: cover;
}

.header-about {
  background: url('../images/header-2.jpg');
  background-size: cover;
}

.pt-plax-lg-light:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
}
/* index setting */
.fs-slider-hero .fs-slider .fs-slider-item {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .fs-slider-hero .fs-slider .fs-slider-item .bg-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  
  .fs-slider-hero .fs-slider .fs-slider-item .hero-content-wrapper {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  
  .fs-slider-hero .fs-slider .fs-slider-item .hero-content-wrapper .hero-content {
    display: table-cell;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
  }
  
  .fs-slide-1 {
    background: url('../images/index-slide1.jpg');
    background-size: cover;
  }
  
  .fs-slide-1 .bg-overlay {
    background: rgba(17, 17, 17, 0.7);
  }
  
  .fs-slide-1 .hero-content {
    text-align: center;
  }
  
  .fs-slide-1 .hero-content .hero-lead {
    font-family: "微軟正黑體","Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 6em;
    font-weight: 800;
    letter-spacing: 5px;
    color: #ececec;
  }
  
  .fs-slide-1 .hero-content .hero-subheading {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #999;
  }
  
  .fs-slide-2 {
    background: url('../images/index-slide2.jpg');
    background-size: cover;
  }
  
  .fs-slide-2 .bg-overlay {
    background: rgba(17, 17, 17, 0.7);
  }
  
  .fs-slide-2 .hero-content {
    padding-left: 10%;
    text-align: left;
  }
  
  .fs-slide-2 .hero-content .hero-lead {
    font-family: "微軟正黑體","Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 5.5em;
    font-weight: 700;
    letter-spacing: 5px;
    color: #ececec;
  }
  
  .fs-slide-2 .hero-content .hero-lead span {
    font-weight: 300;
  }
  
  .fs-slide-2 .hero-content .hero-subheading {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #999;
  }
  
  .fs-slide-3 {
    background: url('../images/index-slide3.jpg');
    background-size: cover;
  }
  
  .fs-slide-3 .bg-overlay {
    background: rgba(17, 17, 17, 0.7);
  }
  
  .fs-slide-3 .hero-content {
    text-align: center;
  }
  
  .fs-slide-3 .hero-content .hero-lead {
    margin-bottom: 35px;
    font-family: "微軟正黑體","Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 4em;
    font-weight: 800;
    letter-spacing: 15px;
    color: #ececec;
  }
  
  .fs-slide-3 .hero-content .hero-lead span {
    font-weight: 300;
  }
  
  .fs-slide-3 .hero-content .hero-subheading {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #999;
  }
  
  .h-alt {
    font-family: '微軟正黑體', sans-serif;
    font-weight: bold;
  }

  .ft-steps-numbers .ft-item ul {
    margin: 0;
    padding-left: 85px;
}

.ft-boxed-hover ul li {
  display: inline-block;
  position: relative;
  width: 33%;
  float: left;
  margin-top: -1px;
  margin-left: -1px;
  padding: 50px;
  border: 1px solid #ddd;
  background: #fff;
  text-align: center;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  height: 224px;
}

.ft-boxed-hover ul li:hover {
  border-color: #ddd;
}

.ft-cards-2 .ft-card-item .ft-content p {
  margin: 0;
  color: #999;
  font-size: 10pt;
}

.ft-cards-2 .ft-card-item .ft-content .link-btn {
  display: inline-block;
  margin-top: 30px;
  float: right;
  color: #777;
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}
/* contact setting */
.map-wide {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}